* {
  font-family: "Roboto", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
}

.wrap-sections {
  max-width: 1160px;
  margin: 0 auto;
}

/* ****** HEADER ******* */

header {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  right: 0px;
  left: 0px;
  z-index: 5;
  background-color: #000000;
  color: #ffffff;
  height: 80px;
}

h1 {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
}

.wraper-nav-logo {
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: #ffffff;
  box-sizing: border-box;
}

nav ul {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

nav ul li {
  list-style: none;
  color: #ffffff;
  margin: 10px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}

.nav-link:hover {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.nav-link:focus {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.active {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/************* /HEADER *************/

/********** BANNER  ***************/
.banner-bg {
  position: relative;
  background: url("./../../assets/images/Giant\ Panda.png");
  background-position: center 0;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  height: 390px;
  max-width: 1600px;
  left: 0px;
  right: 0px;
  z-index: 1;
  top: -80px;
}

/* ******* PICK AND FEED *************** */

.pick-and-feed_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  opacity: 0.9;
  max-width: 1600px;
  padding-bottom: 69px;
  margin-top: -80px;
}

.pick-and-feed_upper_des {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 1160px;
}

.pick-and-feed_upper_title {
  height: 47px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 10px;
}

.pick-and-feed_upper_paragraph {
  height: 94px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;

  color: #ffffff;
}

.pick-and-feed_upper_donate:last-of-type {
  margin-right: auto;
  width: 341px;
  height: 47px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #fe9013;
}

.pick-and-feed_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 100px;
  width: 1160px;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  box-sizing: border-box;
  padding-bottom: 62px;
}

.pick-and-feed_title_1 {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #fe9013;
  margin-top: 41px;
  margin-bottom: 30px;
}

.pick-and-feed_des_1 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 40px;
  color: #333b41;
}

.pick-and-feed_panda {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pick-and-feed_panda_left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pick-and-feed_panda_left_number {
  width: 41px;
  height: 58px;

  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 80%;

  text-align: center;
  text-transform: uppercase;

  color: #000000;
  margin-bottom: 11px;
}

.pick-and-feed_panda_left_des {
  width: 159px;
  height: 22px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;

  text-align: center;

  color: #333b41;
  margin-right: 11px;
}

.pick-and-feed_panda_pic {
  margin-left: 64px;
}

.pick-and-feed-bar-block {
  margin: 0;
  padding: 0;
  color: #333b41;
}

.pick-and-feed-bar__title {
  color: black;
  line-height: 140%;
  margin-bottom: 10px;
}

.bar {
  position: relative;
  display: flex;
  align-items: center;
  content: "";
  width: 975px;
  height: 27px;
  background: #404950;
  border-radius: 2px;
  border: 1px solid transparent;
  margin-bottom: 15px;
}

.grey-bar {
  position: absolute;
  width: 915px;
  height: 2px;
  background: #72828e;
  left: 30px;
}

.bar-input {
  display: flex;
  justify-content: center;
  content: "";
  width: 915px;
  height: 27px;
  background: #72828e;
  background: transparent;
  border-radius: 2px;
  border: 1px solid transparent;
}

.bar-input[type="range"] {
  width: 950px;
  height: 2px;
  margin: 0 auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.bar-input[type="range"]::-webkit-slider-thumb {
  background: url(../../assets/images/roller_icon.svg);
  cursor: pointer;
  width: 40px;
  height: 40px;
  -webkit-appearance: none;
  margin-left: -1px;
}

.bar-input[type="range"]::-moz-range-thumb {
  background: url(../../assets/images/roller_icon.svg);
  cursor: pointer;
  width: 40px;
  height: 40px;
  -webkit-appearance: none;
  margin-left: -1px;
  border: none;
}

.bar-input-little {
  display: none;
}

.bar-input-little-600 {
  display: none;
}

.circle-yellow {
  cursor: pointer;
}

.circle-yellow {
  content: "";
  position: absolute;
  left: 26px;
  background: #ffee2e;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.circle_one {
  left: 26px;
}

.circle_two {
  left: 156px;
}

.circle_three {
  left: 286px;
}

.circle_four {
  left: 416px;
}

.circle_five {
  left: 546px;
}

.circle_six {
  left: 676px;
}

.circle_seven {
  left: 806px;
}

.circle_eight {
  left: 936px;
}

.money-bar {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 50px;
  width: 975px;
}

.money-text {
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  width: 80px;
  text-align: center;
}

.amount {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  margin: 0 auto 25px;
}

.amount_dollar {
  position: absolute;
  display: block;
  margin-left: 210px;
  top: 2px;
  width: 10px;
  height: 20px;
  fill: #929699;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.another-amount {
  margin-bottom: 25px;
  width: 268px;
  height: 54px;
  border: 1px solid #929699;
  border-radius: 2px;
  padding: 0 10px;
}

.amount_radiobuttons {
  display: flex;
  gap: 50px;
  margin: 0 auto 30px;
  justify-content: center;
}

.time {
  /* display: none; */
}

.amount_radiobutton_item label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 0;
  line-height: 18px;
  user-select: none;
}

/* .amount_radiobutton-item label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  border: 1px solid #fe9013;
  border-radius: 50%;
} */

/* .time:checked + label::before {
  border: 1px solid #4b9200;
  background-color: #4b9200;
}
 */
/* .amount_radiobutton-item label:hover:before {
  filter: brightness(120%);
}
 */
.pick-and-feed__text {
  text-align: center;
  line-height: 140%;
}

.pick-and-feed_btn {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  width: 298px;
  height: 54px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  margin-bottom: 69px;
}

.pick-and-feed_btn:hover {
  background: #e47209;
  cursor: pointer;
  transition: 0.3s;
}

/* ******* /PICK AND FEED *************** */

/* ******** FOOTER *********/
footer {
  height: 413px;
  background-color: black;
  color: white;
  max-width: 1600px;
  padding-bottom: 21px;
  padding-top: 41px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.footer-wrapper_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-wrapper_left ul {
  list-style: none;
  padding-left: 0px;
}

.footer-wrapper_center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-wrapper_center_down ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 58px;
}

.footer-wrapper_center_down a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}

.btn-donate {
  width: 298px;
  height: 54px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  border: none;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 5px;
  color: #ffffff;
}

.btn-donate:hover {
  background: #e47209;
  cursor: pointer;
  transition: 0.3s;
}

.footer-wrapper_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-wrapper_right label {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;

  color: #ffffff;
}
.footer-wrapper_right input {
  background: transparent;
  max-width: 230px;
  border-radius: 5px;
  border: 1px solid #f9804b;
  background-origin: border-box;
  background-clip: content-box, border-box;
  color: #bdbdbd;
  padding: 10px 7px 10px 10px;
  margin-right: 10px;
}

.footer-btn-submit {
  background: #f1f3f2;
  border-radius: 5px;
  border: 1px solid #333b41;
  width: 129px;
  height: 42px;
  padding: 10px 39px;
  font-size: 1rem;
  color: #333b41;
  line-height: 140%;
  cursor: pointer;
}

.footer-wrapper_right ul {
  list-style: none;
}

.footer-wrapper_input_form {
  display: flex;
  margin-top: 14px;
}

/* ******** /FOOTER *********/
